[Unit]
Description="E-wallet Api Service"
After=network.target
[Service]
User=ubuntu
Group=ubuntu
RuntimeDirectory=e-wallet
WorkingDirectory=/home/ubuntu/actions-runner/_work/E-wallet/E-wallet
Environment="PATH=/home/ubuntu/.cache/pypoetry/virtualenvs/e-wallet-9r7Hsen0-py3.10/bin/"
ExecStart=/home/ubuntu/.cache/pypoetry/virtualenvs/e-wallet-9r7Hsen0-py3.10/bin/gunicorn -w 1 -b unix:/run/e-wallet/e-wallet.sock -m 007 manage:app
[Install]
WantedBy=multi-user.target