[Unit]
Description="E-wallet redis worker"
After=network.target redis.service e-wallet.service
Wants= redis.service e-wallet.service
[Service]
User=ubuntu
Group=ubuntu
RuntimeDirectory=e-wallet
WorkingDirectory=/home/ubuntu/actions-runner/_work/E-wallet/E-wallet
Environment="PATH=/home/ubuntu/.cache/pypoetry/virtualenvs/e-wallet-9r7Hsen0-py3.10/bin/"
ExecStart=/home/ubuntu/.cache/pypoetry/virtualenvs/e-wallet-9r7Hsen0-py3.10/bin/rq worker E-wallet --with-scheduler -c settings
ExecStop=/home/ubuntu/.cache/pypoetry/virtualenvs/e-wallet-9r7Hsen0-py3.10/bin/flask stop-redis-worker
[Install]
WantedBy=multi-user.target